.shadow2030 {
  -webkit-box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
}
.noShadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #424242;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
:before,
:after {
  font-family: FontAwesome;
}
.red {
  color: #ee1c25;
}
.semibold {
  font-weight: 600;
}
.justify {
  text-align: justify;
}
.uppercase {
  text-transform: uppercase;
}
textarea {
  resize: none;
}
.wrap {
  max-width: 940px;
  margin: auto;
  position: relative;
}
h3.padded {
  padding: 64px 0 16px;
}
.no_padding {
  padding: 0!important;
}
.flexBox {
  display: -webkit-flex;
  display: flex;
}
.redButton {
  background-color: #ee1c25;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
  height: 55px;
  padding: 18px 36px;
}
.redButton:after {
  content: '';
  background: transparent url("images/w_arrow_right2.png") no-repeat center;
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -5px;
  width: 10px;
  height: 11px;
}
.header {
  background-color: #323232;
  border-bottom: 2px solid #ffffff;
}
.header .langs {
  position: absolute;
  top: 8px;
  right: 0;
  color: #ffffff;
}
.header .langs a {
  color: #ffffff;
}
.header .nav {
  padding: 0;
  margin: 0;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 98px;
}
.header .nav li:hover > a {
  color: #ee1c25;
}
.header .nav > li {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding: 39px 0px;
  cursor: default;
}
.header .nav > li.logo {
  display: none;
}
.header .nav > li:first-child {
  margin-right: auto;
  border-bottom: 2px solid #ee1c25;
  padding: 24px 0;
  position: relative;
  top: 4px;
}
.header .nav > li:first-child a {
  padding: 0;
}
.header .nav > li.sub:hover > .submenu {
  display: block;
}
.header .nav > li:last-child {
  margin-right: 0;
}
.header .nav > li > a {
  padding: 18px;
  font-weight: 600;
  font-size: 16px;
}
.header .nav > li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}
.header .nav .submenu {
  display: none;
  position: absolute;
  padding: 0;
  width: 200px;
  border-top: 2px solid #ee1c25;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #323232;
  padding: 16px 0 16px 40px;
  box-sizing: border-box;
  z-index: 2;
}
.header .nav .submenu.active {
  display: block !important;
  position: static;
  top: auto;
  left: auto;
  transform: none;
  border-top: none;
  width: 100%;
  padding: 0 0 0 40px;
  background-color: #f1f1f1;
  margin-top: 22px;
}
.header .nav .submenu.active li {
  margin: 0;
}
.header .nav .submenu.active li:before {
  top: 21px;
}
.header .nav .submenu.active:before {
  display: none;
}
.header .nav .submenu:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 11px;
  height: 6px;
  background: transparent url("images/arrowTop.png") center no-repeat;
}
.header .nav .submenu li {
  margin: 16px 0;
  position: relative;
}
.header .nav .submenu li:before {
  content: '\f054';
  position: absolute;
  left: -20px;
  top: 50%;
  margin-top: -5px;
  font-size: 10px;
  color: #ee1c25;
}
h3.contentHeading {
  text-transform: uppercase;
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
  color: #424242;
  margin: 0;
  width: 100%;
  padding: 24px 0;
}
h4.contentHeading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 16px;
}
span.contentHeading {
  font-size: 18px;
  font-weight: 600;
  display: block;
}
.upperFooter {
  padding: 48px 0;
  background-color: #e2e2e2;
}
.upperFooter .flexBox {
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.upperFooter .tab {
  flex: 1;
}
.upperFooter .tab:last-child {
  margin-top: -4px;
}
.upperFooter .tab:last-child p:last-child {
  margin: 24px 0 0;
}
.upperFooter .tab h4 {
  margin: 0 0 36px;
}
.upperFooter .tab h4 img {
  width: 84px;
}
.upperFooter .tab h4 .small {
  font-size: 12px;
  text-transform: lowercase;
}
.upperFooter .tab p {
  margin: 0;
}
.upperFooter .tab p.number {
  font-size: 30px;
  margin-bottom: 24px;
}
.upperFooter .tab .crookedButton div {
  margin: 8px 38px 22px 0;
}
.upperFooter .tab .crookedButton div:before {
  height: 40px;
}
.upperFooter .tab .crookedButton img {
  padding: 12.5px 16px;
}
.upperFooter .tab .crookedButton span {
  font-size: 16px;
  padding: 0 0 0 8px;
}
.upperFooter .tab .fb {
  clear: both;
  display: block;
  color: #424242;
}
.upperFooter .tab .fb > * {
  display: inline-block;
}
.upperFooter .tab ul {
  padding-left: 18px;
}
.upperFooter .tab li {
  position: relative;
  padding: 8px 0;
}
.upperFooter .tab li:first-child {
  padding: 0 0 8px;
}
.upperFooter .tab li:first-child:before {
  top: 5px;
}
.upperFooter .tab li:before {
  content: '';
  width: 10px;
  height: 11px;
  background: transparent url('images/r_arrow_right2.png') no-repeat center;
  position: absolute;
  top: 14px;
  left: -15px;
}
.upperFooter .tab li a {
  color: #424242;
}
.bottomFooter {
  background-color: #3b3b3b;
  color: #cecece;
  font-size: 13px;
}
.bottomFooter .flexBox {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.bottomFooter a {
  color: #cecece;
}
.bottomFooter ul {
  padding: 0;
  margin-right: auto;
}
.bottomFooter ul li {
  display: inline-block;
  padding-right: 4px;
  border-right: 1px solid #cecece;
  margin-right: 4px;
}
.bottomFooter ul li:last-child {
  padding-right: 0;
  border-right: none;
  margin-right: 0;
}
.paging {
  margin: 16px 0;
}
.paging > * {
  vertical-align: middle;
  display: inline-block;
}
.paging ul {
  padding: 0;
  margin: 0;
}
.paging ul li {
  display: inline-block;
  padding-right: 8px;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}
.paging ul li a {
  border: 1px solid #cecece;
  font-size: 16px;
  color: #545658;
  height: 100%;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  display: inline-block;
  padding: 3px 9px;
}
.paging ul li.active a {
  border: 1px solid #ee1c25;
  background-color: #ee1c25;
  color: #ffffff;
}
.paging ul li.next a {
  background: transparent url("images/next.png") no-repeat center;
}
.paging ul li.veryNext a {
  background: transparent url("images/veryNext.png") no-repeat center;
}
.paging ul li.back a {
  background: transparent url("images/back.png") no-repeat center;
}
.paging ul li.veryBack a {
  background: transparent url("images/veryBack.png") no-repeat center;
}
.paging span {
  float: right;
}
.customSelect {
  position: relative;
}
.customSelect.show .selectBody {
  max-height: 200px;
  visibility: visible;
}
.customSelect .selectBody {
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  cursor: pointer;
}
.customSelect select {
  display: none;
}
.customSelect .selectHead {
  cursor: pointer;
}
.respoHead {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  height: 85px;
  border-bottom: 2px solid #ffffff;
  background: #323232;
  display: none;
}
.respoHead .logo {
  height: 45px;
  width: 145px;
  display: inline-block;
  margin-left: 8px;
}
.respoHead .menuOn {
  background: #ee1c25 url("../images/menuOn.png") no-repeat center;
  background-size: contain;
  height: 85px;
  width: 85px;
}
.menuOff {
  background: #ee1c25 url("../images/close.png") no-repeat 95% center;
  background-size: contain;
  height: 85px;
  width: 100%;
  line-height: 88px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  text-align: right;
  padding-right: 56px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
}
.respoBg {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
@media only screen and (max-width: 940px) {
  .wrap {
    max-width: 800px;
  }
  .header .nav > li > a {
    padding: 13px;
  }
}
@media only screen and (max-width: 800px) {
  .topHeader {
    display: none;
  }
  .respoHead {
    display: -webkit-flex;
    display: flex;
  }
  .header#respoTrigger {
    margin-top: 85px;
    border-bottom: none;
  }
  .header#respoTrigger .langs {
    right: auto;
    left: 8px;
  }
  .header#respoTrigger.on .nav {
    right: 0;
  }
  .header#respoTrigger.on .respoBg {
    display: block;
  }
  .header#respoTrigger .wrap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .header#respoTrigger .wrapisko {
    height: 100%;
    overflow-y: auto;
  }
  .header#respoTrigger .nav {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -webkit-justify-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    background: #323232;
    width: 50%;
    min-width: 250px;
    height: 100%;
    position: fixed;
    top: -4px;
    right: -100%;
    z-index: 6;
    padding: 0 0 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    overflow-y: auto;
  }
  .header#respoTrigger .nav li {
    padding: 14px 0 ;
    position: relative;
    width: 100%;
  }
  .header#respoTrigger .nav li a {
    padding: 13px 0 13px 36px;
    color: #ffffff;
  }
  .header#respoTrigger .nav li.logo {
    display: block;
    padding: 0;
    border-bottom: 2px solid #e6e6e6;
    margin-bottom: 32px;
  }
  .header#respoTrigger .nav li.logo a {
    display: none;
  }
  .header#respoTrigger .nav li.logo .menuOff {
    display: block;
  }
  .header#respoTrigger .nav li.sub:after {
    position: absolute;
    content: '';
    width: 10px;
    height: 17px;
    top: 19px;
    right: 42px;
    background: transparent url("images/g_arrow_right.png") no-repeat center;
  }
  .header#respoTrigger .nav li.sub.clicked:after {
    background: transparent url("images/b_arrow_down.png") no-repeat center;
    width: 17px;
    height: 10px;
  }
  .header#respoTrigger .nav li.sub:hover > .submenu {
    display: none;
  }
  .header#respoTrigger .nav li.sub:hover > a {
    color: #ee1c25;
  }
  h3.contentHeading {
    padding: 24px 8px !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 21px;
  }
  .rHide {
    display: none!important;
  }
  .bottomFooter .flexBox {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    padding-bottom: 16px;
  }
  .bottomFooter .flexBox ul {
    margin: 12px auto;
    display: -webkit-flex;
    display: flex;
  }
  .bottomFooter .flexBox ul li {
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  h3.contentHeading {
    font-size: 17px;
    padding: 16px 8px;
  }
  .paging {
    margin-bottom: 0;
  }
  .paging > * {
    display: block;
    text-align: center;
  }
  .paging span {
    float: none;
    margin-top: 8px;
  }
  .bottomFooter .flexBox {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .bottomFooter .flexBox ul {
    width: 90%;
    text-align: center;
    font-size: 15px;
    display: block;
  }
  .bottomFooter .flexBox ul li {
    display: list-item;
    border-right: none;
    padding: 4px 0;
  }
  .madeBy {
    font-size: 15px;
    padding-top: 16px;
    border-top: 1px solid #cecece;
  }
}
