<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <level_1>
        <stuff>
            <sk>Domov</sk>
            <en>Home</en>
            <link>home</link>
        </stuff>
        <stuff>
            <sk>Aplikácia</sk>
            <en>Aplication</en>
            <link>app</link>
        </stuff>
        <stuff>
            <sk>Služby</sk>
            <en>Services</en>
            <level_2>
                <stuff>
                    <sk>Prvá možnosť</sk>
                    <en>First option</en>
                    <link>f_service</link>
                </stuff>
                <stuff>
                    <sk>Druhá možnosť</sk>
                    <en>Second option</en>
                    <link>s_service</link>
                </stuff>
            </level_2>
        </stuff>
        <stuff>
            <sk>Aktuality</sk>
            <en>News</en>
            <link>news</link>
        </stuff>
        <stuff>
            <sk>Technická správa</sk>
            <en>Technical report</en>
            <link>report</link>
        </stuff>
        <stuff>
            <sk>Kontakt</sk>
            <en>Contact</en>
            <link>contact</link>
        </stuff>
    </level_1>
</menu>