.aktuality{
  width: 100%;
  height: 100%;
}


.aktuality-text{
	font-size: 18px;
}

#odoberanie-box{
	padding: 16px;
	background-color: #BDBDBD;
}
#odoberanie-box .flexBox {
	justify-content: center;
	align-items: center;
}